---
---

@use "str-functions";

$padding: 16px;

$sprite-size: 32px;
$sprite-offset-muliplier: $sprite-size * -1;

@mixin light {
  $text-color: 0, 0, 0;
  $background-color: 255, 255, 255;
  $link-color: 7, 130, 30;
  $alink-color: 255, 0, 0;
  // $block-color: 0, 128, 255;
  $block-color: 253, 118, 0;
  $accent-color: #FFA63D; // TODO Adapt for light mode

  $__bg: rgb($background-color...);
  $__kg: rgb($block-color...);

  color-scheme: light;
  --text-color: #{$text-color};
  --background-color: #{$background-color};
  --link-color: #{$link-color};
  --alink-color: #{$alink-color};
  --block-color: #{$block-color};
  --accent-color: #{$accent-color};

  @for $i from 1 through 9 {
    --block-color-#{$i}0-solid: #{mix($__bg, $__kg, $weight: (10 - $i) * 10)};
  }
}

@mixin dark {
  $text-color: 238, 238, 238;
  $background-color: 51, 51, 51;
  $link-color: 204, 204, 255;
  $alink-color: 255, 204, 204;
  $block-color: 255, 255, 255;
  $accent-color: #FFA63D; // TODO Adapt for light mode

  $__bg: rgb($background-color...);
  $__kg: rgb($block-color...);

  color-scheme: dark;
  --text-color: #{$text-color};
  --background-color: #{$background-color};
  --link-color: #{$link-color};
  --alink-color: #{$alink-color};
  --block-color: #{$block-color};
  --accent-color: #{$accent-color};

  @for $i from 1 through 9 {
    --block-color-#{$i}0-solid: #{mix($__bg, $__kg, $weight: (10 - $i) * 10)};
  }
}

@mixin applytheme($theme) {
  @if ($theme == "dark") {
    @include dark();
  } @else {
    @include light();
  }
}

%pixelated {
  image-rendering: crisp-edges; // Firefox
  image-rendering: pixelated;   // The rest of 'em
}

%inventory {
  box-sizing: content-box;

  border: 2px solid;
  background-color: #8b8b8b;
  border-color: #373737 #fff #fff #373737;
}

@mixin tool-info-light {
  block-info .tool-info {
    &.tool-level-0 {
      background-position-x: 1 * $sprite-offset-muliplier;
    }
    &.tool-none {
      background-position-x: 1 * $sprite-offset-muliplier;
    }
    &.tool-shears.tool-level-0 {
      background-position-x: 3 * $sprite-offset-muliplier;
    }
  }
}

@mixin tool-info-dark {
  block-info .tool-info {
    &.tool-level-0 {
      background-position-x: 0 * $sprite-offset-muliplier;
    }
    &.tool-none {
      background-position-x: 0 * $sprite-offset-muliplier;
    }
    &.tool-shears.tool-level-0 {
      background-position-x: 2 * $sprite-offset-muliplier;
    }
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 10pt;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  color: RGB(var(--text-color));
  background-color: RGB(var(--background-color));

  margin: 0;
  min-height: 100%;
  display: grid;

  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: max-content max-content auto max-content;
  grid-template-areas: 'header' 'nav' 'main' 'footer';

  a {
    color: RGB(var(--link-color));

    &:active {
      color: RGB(var(--alink-color));
    }
  }

  @include applytheme("light");
  &.dark {
    @include applytheme("dark");
    @include tool-info-dark;
  }
  &.light {
    @include applytheme("light");
    @include tool-info-light;
  }

  header {
    grid-area: header;
    padding: $padding;

    font-size: 18pt;
    background-color: RGBA(var(--block-color), 0.3);

    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: auto;
      @extend %pixelated;
      margin-right: 8px;
    }
  }

  nav {
    display: flex;
    grid-area: nav;
    justify-content: space-between;
    background-color: RGBA(var(--block-color), 0.2);

    #links {
      display: flex;
      overflow-x: auto;
      flex-shrink: 1;
      
      a {
        padding: $padding;
        color: RGB(var(--text-color));
        font-weight: bold;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          background-color: RGBA(var(--block-color), 0.2);
        }
      }
    }

    #search {
      display: flex;
      position: relative;
      flex-shrink: 0;

      #search-input {
        width: 300px;
        max-width: 100%;
        appearance: none;
        padding: 8px 8px 8px 40px;
        border: 0;
        border-radius: 0;
        background-color: RGBA(var(--block-color), 0.2);
        background-image: url({{ "/img/search.png" | relative_url }});
        background-repeat: no-repeat;
        background-position: 8px center;
        background-size: 24px 24px;
        @extend %pixelated;
        color: RGB(var(--text-color));

        &::placeholder {
          color: RGBA(var(--text-color), 0.5);
        }
      }

      #results-container {
        display: none;
        list-style-type: none;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: var(--block-color-20-solid);
        margin: 0;
        padding: 8px;
        flex-direction: column;
        box-shadow: 0 6px 12px rgba(#000, $alpha: 0.2);

        a {
          display: block;
          text-decoration: none;
          padding: 4px;

          &:hover, &:focus {
            background-color: RGB(var(--block-color), 0.2);
          }
        }
      }

      &:focus-within {
        #results-container {
          display: flex;
          
          &:empty {
            display: none;
          }
        }
      }
    }
  }

  main {
    grid-area: main;
    padding: $padding;
  }
  
  footer {
    grid-area: footer;
    padding: $padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: RGBA(var(--block-color), 0.1);

    .theme-select {
      margin-left: 8px;
      display: flex;
      align-items: center;

      label {
        margin-right: 4px;
      }
    }
  }
}

input,
button,
select {
  font: inherit;
}

.err404-container {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;

  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.page-todo, .page-todo a {
  color: RGB(var(--alink-color));
  font-weight: bold;
}

.blocklist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: $padding;
    background-color: RGBA(var(--block-color), 0.2);
    margin: 8px;

    img {
      margin-right: 8px;
      width: 32px;
      height: auto;

      @extend %pixelated;
    
      @extend %inventory;
    }
  }
}

block-info {
  display: block;
  float: right;
  background: RGB(var(--block-color), 0.1);
  padding: 8px;

  img.preview-icon {
    box-sizing: content-box;
    width: 256px;
    height: auto;
    // @extend %pixelated;
    
    // @extend %inventory;
    background-color: RGB(var(--block-color), 0.2);

    padding: 8px;
  }

  img.inventory-icon {
    display: block;
    width: 32px;
    height: auto;
    margin: 0 auto;

    @extend %inventory;
    @extend %pixelated;
  }

  img.effect-icon {
    @extend %pixelated;
  }

  .tool-info {
    @extend %pixelated;

    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background-image: url("{{ "/img/tools_sprite.png" | relative_url }}");
    background-size: 224px 192px;

    @for $i from 0 through 5 {
      &.tool-level-#{$i} {
        background-position-x: ($i + 1) * $sprite-offset-muliplier;
      }
    }

    &.tool-axe {
      background-position-y: 0 * $sprite-offset-muliplier;
    }

    &.tool-pickaxe {
      background-position-y: 1 * $sprite-offset-muliplier;
    }

    &.tool-shovel {
      background-position-y: 2 * $sprite-offset-muliplier;
    }

    &.tool-hoe {
      background-position-y: 3 * $sprite-offset-muliplier;
    }

    &.tool-sword {
      background-position-y: 4 * $sprite-offset-muliplier;
    }

    &.tool-none {
      background-position-x: 1 * $sprite-offset-muliplier;
      background-position-y: 5 * $sprite-offset-muliplier;
    }

    &.tool-shears.tool-level-0 {
      background-position-x: 3 * $sprite-offset-muliplier;
    }

    &.tool-shears,
    &.tool-shears.tool-level-1,
    &.tool-shears.tool-level-2,
    &.tool-shears.tool-level-3,
    &.tool-shears.tool-level-4,
    &.tool-shears.tool-level-5 {
      background-position-x: 4 * $sprite-offset-muliplier;
      background-position-y: 5 * $sprite-offset-muliplier;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    
    tbody>tr:nth-child(odd) {
      background-color: RGBA(var(--block-color), 0.2);
    }

    td, th {
      padding: 4px;
    }
  }
}

.unsupported-browser {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #fcc;
  color: #400;
  font: bold 14pt/1.5 sans-serif;

  &__inner {
    vertical-align: middle;
    text-align: center;

    &__message {
      margin: 8px auto;
    }
  }
}

.cookiemsg-root {
  position: fixed;
  bottom: 0;
  left: 8px;
  right: 8px;
  background-color: var(--block-color-30-solid);
  padding: 16px;
  display: flex;
  justify-content: center;
  z-index: 102;
  animation: cookiemsg-attention 1s ease-out;

  .cookiemsg-inner {
    display: flex;
    flex-direction: column;

    .cookiemsg-buttons {
      margin-top: 8px;
      display: flex;
      gap: 8px;
    }
  }
}

#missingno {
  background-color: #f0f;
  width: 128px;
  height: 128px;
  margin: 8px auto;

  position: relative;

  &::before, &::after {
    content: "";
    display: block;
    width: 50%;
    height: 50%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }

  &::before {
    animation-name: missingno-1;
  }

  &::after {
    animation-name: missingno-2;
  }
}

@keyframes missingno-1 {
  0%, 100% { transform: translate(0%, 0%); }
  25% { transform: translate(100%, 0%); }
  50% { transform: translate(100%, 100%); }
  75% { transform: translate(0%, 100%); }
}

@keyframes missingno-2 {
  0%, 100% { transform: translate(100%, 100%); }
  25% { transform: translate(0%, 100%); }
  50% { transform: translate(0%, 0%); }
  75% { transform: translate(100%, 0%); }
}

@keyframes cookiemsg-attention {
  10%, 50% {
    background-color: var(--block-color-50-solid);
  }
  0%, 30%, 100% {
    background-color: var(--block-color-30-solid);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @include applytheme("dark");

    @include tool-info-dark;
  }
}

@media (max-width: 720px) {
  body nav #search:not(:focus-within) #search-input {
    width: 40px;
    background-position: center center;
  }
}
