---
title: "Items index"
hidefromsearch: true
---

{% assign sitepages = site.pages | where_exp: "item", "item.title != nil" | where_exp: "item", "item.category == 'item'" %}
<ul class="blocklist">
  {% for page in sitepages %}
    {% if page.title != nil %}
      {% if page.todo == true %}
        <li class="page-todo">
      {% else %}
        <li>
      {% endif %}
          <a href="{{ site.baseurl | append: page.url | escape }}">
            <img onerror="this.src={{ "/img/missing.png" | relative_url | jsonify | escape }}" src="{{ "/img/inventory_textures/allotment/" | append: page.mcid | append: ".png" | relative_url | escape }}" alt="" width="16" height="16">
            <span>{{ page.title | escape }}</span>
          </a>
        </li>
    {% endif %}
  {% endfor %}
</ul>
