<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title | escape }}</title>
    <link rel="stylesheet" href="{{ "/css/styles.css" | relative_url }}">
    <link rel="icon" href="{{ "/img/book.png" | relative_url }}">
    {% seo %}
  </head>
  <body>
    <header>
      <div class="container">
        <img src="{{ "/img/book.png" | relative_url }}" alt="Book icon" width="16" height="16">
        <span>Allotment Wiki</span>
      </div>
    </header>
    <nav>
      <div class="container">
        <div id="links">
          <a class="{% if page.nav == "overview" %}nav-active {% endif %}nav-overview" href="{{ "/" | relative_url }}">Overview</a>
          <a class="{% if page.nav == "flowers" %}nav-active {% endif %}nav-flowers" href="{{ "/flowers.html" | relative_url }}">Flowers &amp; Plants</a>
          <a class="{% if page.nav == "blocks" %}nav-active {% endif %}nav-blocks" href="{{ "/blocks.html" | relative_url }}">Other Blocks</a>
          <a class="{% if page.nav == "items" %}nav-active {% endif %}nav-items" href="{{ "/items.html" | relative_url }}">Items</a>
          <a class="{% if page.nav == "links" %}nav-active {% endif %}nav-links" href="{{ "/links.html" | relative_url }}">Useful Links</a>
        </div>
        <div id="search">
          <input type="text" accesskey="f" id="search-input" placeholder="Search&hellip; (F)" autocomplete="off">
          <ul id="results-container"></ul>
        </div>
      </div>
    </nav>
    <main>
      <div class="container">
{% if site.announcement.show %}
        <div class="announcement{% if site.announcement.classes %} {{ site.announcement.classes | join: " " }}{% endif %}">
          {{ site.announcement.text | raw }}
        </div>
{% endif %}
        {{ content }}
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="copyright">
          Copyright &copy; {{ 'now' | date: "%Y" }} <a href="https://mixxitteam.github.io/">Mixxit Team</a>
          &#x25AA;&#xFE0E;
          {% if page.sourcefile %}
            {% if page.sourcefile.exists %}
              <a href="{{ site.github.repository_url }}/edit/gh-pages/{{ page.sourcefile.fullpath }}">Edit this page on GitHub</a>
            {% else %}
              <a href="{{ site.github.repository_url }}/new/gh-pages/{{ page.sourcefile.path }}/new?filename={{ page.sourcefile.name }}&amp;value=.lead%3A%0A%0A%0A%0A.misc%3A%0A%0A">Edit this page on GitHub</a>
            {% endif %}
          {% else %}
            {% github_edit_link "Edit this page on GitHub" %}
          {% endif %}
        </div>
        <div class="theme-select">
          <label for="theme">Theme: </label>
          <select id="theme">
            <option value="-1">System default</option>
            <option value="0">Light</option>
            <option value="1">Dark</option>
          </select>
        </div>
      </div>
    </footer>
    <script src="{{ "/js/cookielib.js" | relative_url }}"></script>
    <script src="{{ "/js/modernizr.js" | relative_url }}"></script>
    <script src="{{ "/js/theme-select.js" | relative_url }}"></script>
    <script src="{{ "/js/feature-detect.js" | relative_url }}"></script>
    <script src="{{ "/js/simple-jekyll-search.min.js" | relative_url }}"></script>
    <script src="{{ "/js/search.js" | relative_url }}"></script>
  </body>
</html>
